.header {
    background-color: var(--color3);
    height: 125px;
    border-bottom: 5px solid var(--color1);
}

.headerName {
    font-family: 'Nanum Gothic';
    color: var(--color1);
    font-size: 3rem;
    padding-top: 20px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 0px;
}

.nav li, .link {
    padding: 10px;
    margin-left: 10px;
}
 
.nav li:hover, .link:hover {
    background-color: rgb(90, 105, 173);
}

.nav li a:hover, .link:hover {
    color: white !important;
}

li a, .link {
    font-family: 'Nanum Gothic';
    font-weight: 800;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--color5);
}

.link {
    cursor: pointer;
}

.active {
    color: white;
    text-shadow: 0 5px 25px white;
}

