@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=PT+Serif:wght@400;700&display=swap');

.App {
  text-align: center;
}

* {
  margin: 0;
--color1: hsla(288, 62%, 14%, 1);
--color2: hsla(335, 71%, 64%, 1);
--color3: hsla(229, 100%, 75%, 1);
--color4: hsla(188, 36%, 74%, 1);
--color5: hsla(185, 100%, 93%, 1);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}